<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FIRECalc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24966EAD2E64EA090003A7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24966EBA2E64EA0B0003A7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24966EC42E64EA0B0003A7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
